@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jersey+10&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&display=swap");

@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  }
}

