@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-orbitron: "Orbitron", sans-serif;

  /* Fluid Tailwind-like font sizes */
  --text-xs: clamp(0.75rem, 1vw, 0.875rem); /* 12px → 14px */
  --text-sm: clamp(0.875rem, 1.2vw, 1rem); /* 14px → 16px */
  --text-base: clamp(1rem, 1.5vw, 1.125rem); /* 16px → 18px */
  --text-lg: clamp(1.125rem, 1.8vw, 1.25rem); /* 18px → 20px */
  --text-xl: clamp(1.25rem, 2vw, 1.5rem); /* 20px → 24px */

  --text-2xl: clamp(1.5rem, 3vw, 1.875rem); /* 24px → 30px */
  --text-3xl: clamp(1.875rem, 3.5vw, 2.25rem); /* 30px → 36px */
  --text-4xl: clamp(2.25rem, 4vw, 3rem); /* 36px → 48px */
  --text-5xl: clamp(3rem, 5vw, 3.75rem); /* 48px → 60px */
  --text-6xl: clamp(3.75rem, 6vw, 4.5rem); /* 60px → 72px */
  --text-7xl: clamp(4.5rem, 7vw, 6rem); /* 72px → 96px */
  --text-8xl: clamp(6rem, 8vw, 8rem); /* 96px → 128px */
  --text-9xl: clamp(8rem, 10vw, 9rem); /* 128px → 144px */

  /* Animations */
  --animate-slide-in-up: slideInUp 6s infinite ease-in-out;
  --animate-slide-in-down: slideInDown 6s infinite ease-in-out;
  --animate-slide-in-to-right: slideInToRight 0.5s ease-in-out;
  --animate-change-width: changeWidth 6s infinite ease-in-out;
  --animate-fade-in: fadeIn 0.5s ease-in-out;

  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    20% {
      opacity: 1;
      transform: translateY(0%);
    }
    80% {
      opacity: 1;
      transform: translateY(0%);
    }
    90% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  @keyframes slideInDown {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    20% {
      opacity: 1;
      transform: translateY(0%);
    }
    80% {
      opacity: 1;
      transform: translateY(0%);
    }
    90% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  @keyframes changeWidth {
    0% {
      width: 0%;
    }

    15% {
      width: 100%;
    }

    85% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideInToRight {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}
